@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-padrao: 'Urbanist', sans-serif; 
    --cor-primaria: #000;
    --cor-secundaria: #10101064;
    --cor-branca: #fff;
    --cor-fundo: #F0F2F5;
    --cor-erro: #B02220;
    --cor-entrada: #00bf63;
    --cor-saida: #404040;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao);
    font-weight: 400;
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    background-color: var(--cor-branca);
    color: var(--cor-primaria);
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.header-titulo {
    margin: auto;
}

#header-entrada {
    color: var(--cor-entrada);
    font-style: italic;
}

#header-saida {
    color: var(--cor-saida);
    font-style: italic;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;
}

.main-box {
    background-color: var(--cor-branca);
    border-radius: 18px;
    padding: 35px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.175);
}

.box-titulo {
    margin: 8px 5px;
}

.box-subtitulo {
    margin: 8px 5px 30px 5px;
    color: var(--cor-secundaria);
}

footer {
    padding: 15px;
    text-align: center;
    color: var(--cor-secundaria)
}

h1, h2, button {
    font-family: var(--fonte-padrao);
    font-weight: 700;
}

.sair {
    margin: 1rem auto 1rem;
    border-radius: 18px;
    padding: 15px 10px;
    width: 100%;
    max-width: 80px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.175);
    font-size: large;
    font-weight: 700;
}